.BusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bus {
  display: grid;
  grid-template-columns: min-content min-content minmax(auto, 70px) min-content min-content;
  max-width: 300px;
}

.ticketinfo {
  width: 100%;
}

.ticketinfo>input.email {
  height: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.ticketinfo>input.purchase {
  float: right;
  width: 160px;
}